# POSTGRES
POSTGRES_DSN=postgresql://postgres:postgres@localhost:5432/todennus?sslmode=disable&connect_timeout=2

POSTGRES_LOGLEVEL=1  # lower value, more verbose log
POSTGRES_RETRY_ATTEMPTS=3   # the number of attempts to connect to database if it is failed.
POSTGRES_RETRY_INTERVAL=5   # 5s among attempts
